
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-weight: 500; }
h1 { font-size: 2.5rem; line-height: 1.2;  letter-spacing: -.1rem; &.is-title{font-size: 3.0rem;}}
h2 { font-size: 2.0rem; line-height: 1.25; font-weight: 200;}
h3 { font-size: 1.6rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.2rem; line-height: 1.3; font-weight: 200; }
h5 { font-size: 1rem; line-height: 1.3; font-variant: small-caps; }
h6 { font-size: 1rem; line-height: 1.3; font-weight: bold;}
h1 + h2 {
    margin-top: -1.3rem;
}

h1, h2, h3, h4, h5, h6, p{ 
    svg {
        height: 1em;
    }
}


.is-primary {
    color: $primary-color;
}

.is-secondary {
    color: $secondary-color;
}


.fig-*{
    background-position: center;
    background-size: cover;
    background-color: $primary-color;
    color: $primary-contrast-color;
    z-index: 20;

    & > * {
        z-index: 50;
    }

    .media-layer {
        position: absolute;
        z-index: 20;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .darken-bg {
        background-color: rgba(0,0,0,0.5);
        border-radius: $border-radius;
    }
    .whiten-bg {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: $border-radius;
    }
}

.fig-fill-width {
    width: 100%;
}
  

.fig-full-width {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.fig-aspect-ratio-16-9 {
    aspect-ratio: 16 / 9;
}
.fig-aspect-ratio-4-3 {
    aspect-ratio: 4 / 3;
}



$fig-code-name: "Listing "  !default;
$fig-quote-name: "Quote " !default;
$fig-figure-name: "Figure " !default;
$fig-media-name: "Media " !default;
$fig-table-name: "Table "  !default;
body {
    counter-reset: ctable cquote ccode cimage cmedia;
}

figure,
.kg-image-card{
    margin: 0px;
    text-align: center;

    figcaption {
        /*text-align: left;*/
        font-size: smaller;
        &::before {
            font-weight: bold; 
        }
        padding-bottom: 2em;
    }

    figcaption.img:before,
    img + figcaption:before{
        counter-increment: cimage;
        content: $fig-figure-name " " counter(cimage) ": ";
    }
    
    figcaption.quote:before,
    blockquote + figcaption:before{
        counter-increment: cquote;
        content: $fig-quote-name " " counter(cquote) ": ";
    }
    
    figcaption.code:before,
    pre + figcaption:before{
        counter-increment: ccode;
        content: $fig-code-name " " counter(ccode) ": ";
    }
    
    figcaption.media:before,
    iframe + figcaption:before{
        counter-increment: cmedia;
        content: $fig-media-name " " counter(cmedia) ": ";
    }

    figcaption.table:before,
    table + figcaption:before{
        counter-increment: ctable;
        content: $fig-table-name " " counter(ctable) ": ";
    }
}


a { 
    color: $link-color; 
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: $link-color-hover;
    }
}


code {
    background-color: $code-background;
    color: $code-color;
    font-size: $code-size;
    font-weight: $code-weight;
    padding: $code-padding;
}

hr {
    border: none;
    border-bottom: var(--border);
}

img {
    height: auto;
    max-width: 100%;
    border-radius: var(--border-radius);

    &.full {
        min-height: 200px;
        object-fit: cover;
    }
}

.is-small,
small {
    font-size: $font-size-small;
}

span {
    font-style: inherit;
    font-weight: inherit;
}

strong {
    color: $strong-color;
    font-weight: $strong-weight;
}

blockquote {
    font-family: $blockquote-font;
    font-style: $blockquote-font-style;
    font-size: $blockquote-font-size;
    margin:0;
    footer {
        float: right;
        font-family: $font-family;
        font-style: normal;
        font-size: $font-size-small;
    }
    @include clearfix;
}

fieldset {
    border: none;
}

pre {
    background-color: $pre-background;
    border-radius: $border-radius;
    color: $pre-color;
    font-size: $pre-font-size;
    overflow-x: auto;
    padding: $pre-padding;
    white-space: pre;
    word-wrap: normal;
    code {
        background-color: transparent;
        color: currentColor;
        font-size: $pre-code-font-size;
        padding: 0;
    }
    -webkit-overflow-scrolling: touch;
}

table {
    margin: $table-margin auto;
    text-align:center;
    border-collapse: collapse;
    td,
    th {
        vertical-align: top;
        border-bottom: 1px solid $border;
        padding: 0.2rem 0.5rem;
        &:not([align]){
            text-align: inherit;
        }
    }
    tr:nth-child(even) {
        background-color: $background-darken;
    }
    th {
        color: $strong-color;
    }
}

ul {
    list-style: none; 
    li::before {
        content: "\2022";
        color: $primary-color;
        font-weight: bold; 
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
    }

    &.no-bullit{
        li::before {
            content: "";
        }
    }
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.is-left { 
    display: inline-block;
    float: left;
}

.is-right {
    display: inline-block;
    float: right;
}

.is-center {
    display: inline-block;
    margin: 0 auto;
}

.is-round {
    border-radius: 50%;
}

.has-margin-bottom {
    margin-bottom: 1rem;
}