$tablet-width: 768px !default; 
$desktop-width: 1024px !default;


.columns{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.column {
    width: 100%;
    float: left;
    box-sizing: border-box;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

    @media (min-width: $tablet-width) {
        &{
            margin-left: 4%;
        }
        &:first-child {
            margin-left: 0; 
        }

        &.one   { width: 4.66666666667%; }
        &.two   { width: 13.3333333333%; }
        &.three { width: 22%;            }
        &.four  { width: 30.6666666667%; }
        &.five  { width: 39.3333333333%; }
        &.six   { width: 48%;            }
        &.seven { width: 56.6666666667%; }
        &.eight { width: 65.3333333333%; }
        &.nine  { width: 74.0%;          }
        &.ten   { width: 82.6666666667%; }
        &.eleven{ width: 91.3333333333%; }
        &.full,
        &.twelve{ width: 100%; margin-left: 0; }
    }
}